---
import { cn } from "@/lib/utils";

interface CardClassNames {
  header?: string;
  title?: string;
  description?: string;
  content?: string;
}

interface Props {
  className?: string;
  title?: string;
  description?: string;
  classNames?: CardClassNames;
}

const { className, title, description, classNames } = Astro.props;

const headerClassNames = classNames?.header;
const titleClassNames = classNames?.title;
const descriptionClassNames = classNames?.description;
const contentContainerClassNames = classNames?.content;
---

{/*Card Container*/}
<div class={cn("rounded-lg border bg-card text-card-foreground shadow-sm", className)}>
  {/*Card Header Container*/}
  {
    title && (
      <div class={cn("flex flex-col space-y-1.5 ", headerClassNames)}>
        {/*Card Title*/}
        <h3 class={cn("text-2xl font-semibold leading-none tracking-tight", titleClassNames)}>
          {title ?? "Título"}
        </h3>

        {/*Card Description*/}
        {description && (
          <p class={cn("text-sm text-muted-foreground", descriptionClassNames)}>{description}</p>
        )}
      </div>
    )
  }

  {/*Card Content Container*/}
  <div class={cn(" pt-0", contentContainerClassNames)}>
    <slot />
  </div>
</div>
