---
import { cn } from "@/lib/utils";

interface CardClassNames {
  header?: string;
  title?: string;
  description?: string;
}

interface Props {
  className?: string;
  title?: string;
  description?: string;
  classNames?: CardClassNames;
}

const { className, title, description, classNames } = Astro.props;

const headerClassNames = classNames?.header;
const titleClassNames = classNames?.title;
const descriptionClassNames = classNames?.description;
---

{/*Card Container*/}
<div
  class={cn(
    "flex flex-col gap-6 rounded-lg border bg-card text-card-foreground shadow-sm p-6",
    className
  )}
>
  {/*Card Header Container*/}
  {
    title && (
      <div class={cn("flex flex-col gap-1.5", headerClassNames)}>
        {/*Card Title*/}
        <h3 class={cn("text-2xl font-semibold tracking-tight", titleClassNames)}>
          {title ?? "Título"}
        </h3>

        {/*Card Description*/}
        {description && (
          <p class={cn("text-sm text-muted-foreground", descriptionClassNames)}>{description}</p>
        )}
      </div>
    )
  }

  {/*Card Content*/}
  <slot />
</div>
