---
import ModeToggle from "@/components/ModeToggle";
import UserBtn from "@/components/UserBtn";
import AppName from "./AppName.astro";

const { appName } = Astro.props;
---

<header class="flex h-14 items-center gap-4 border-b bg-muted/40 px-4 lg:h-[60px] lg:px-6">
  <>
    <div class="block md:hidden">
      <AppName appName={appName} />
    </div>
    <div class="flex ml-auto gap-4">
      <UserBtn client:load />
      <div class="hidden md:block">
        <ModeToggle client:load />
      </div>
    </div>
  </>
</header>
