---
import Card from "@/components/astro/Card.astro";
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import { Home, LineChart, Package, ShoppingCart, Users } from "lucide-react";
import AppName from "./AppName.astro";

const { appName } = Astro.props;
---

<aside id="sidebar" aria-label="Sidebar" class="hidden border-r bg-muted/40 md:block">
  <div class="flex h-full max-h-screen flex-col gap-2">
    <div class="flex h-14 items-center border-b px-4 lg:h-[60px] lg:px-6">
      <a href="/">
        <AppName appName={appName} />
      </a>
    </div>
    <div class="flex-1">
      <nav class="grid items-start px-2 text-sm font-medium lg:px-4">
        <a
          href="#"
          class="flex items-center gap-3 rounded-lg px-3 py-2 text-muted-foreground transition-all hover:text-primary"
        >
          <Home className="h-4 w-4" />
          Dashboard
        </a>
        <a
          href="#"
          class="flex items-center gap-3 rounded-lg px-3 py-2 text-muted-foreground transition-all hover:text-primary"
        >
          <ShoppingCart className="h-4 w-4" />
          Orders
          <Badge className="ml-auto flex h-6 w-6 shrink-0 items-center justify-center rounded-full">
            6
          </Badge>
        </a>
        <a
          href="#"
          class="flex items-center gap-3 rounded-lg bg-muted px-3 py-2 text-primary transition-all hover:text-primary"
        >
          <Package className="h-4 w-4" />
          Products{" "}
        </a>
        <a
          href="#"
          class="flex items-center gap-3 rounded-lg px-3 py-2 text-muted-foreground transition-all hover:text-primary"
        >
          <Users className="h-4 w-4" />
          Customers
        </a>
        <a
          href="#"
          class="flex items-center gap-3 rounded-lg px-3 py-2 text-muted-foreground transition-all hover:text-primary"
        >
          <LineChart className="h-4 w-4" />
          Analytics
        </a>
      </nav>
    </div>
    <div class="mt-auto p-4">
      <Card
        className="gap-4 p-4"
        title="Upgrade to Pro"
        description="Unlock all features and get unlimited access to our support team."
      >
        <Button size="sm" className="w-full">Upgrade</Button>
      </Card>
    </div>
  </div>
</aside>
